<p id="notice"><%= notice %></p>

<p>
  <strong>Organization:</strong>
  <%= @add_product.Organization %>
</p>

<p>
  <strong>Date:</strong>
  <%= @add_product.Date %>
</p>

<p>
  <strong>Po number:</strong>
  <%= @add_product.PO_Number %>
</p>

<p>
  <strong>Invoice number:</strong>
  <%= @add_product.Invoice_Number %>
</p>

<p>
  <strong>Invoice date:</strong>
  <%= @add_product.Invoice_Date %>
</p>

<p>
  <strong>Product:</strong>
  <%= @add_product.Product %>
</p>

<p>
  <strong>Quantity units:</strong>
  <%= @add_product.Quantity_Units %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @add_product.Quantity %>
</p>

<p>
  <strong>Value:</strong>
  <%= @add_product.Value %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @add_product.Weight %>
</p>

<%= link_to 'Edit', edit_add_product_path(@add_product) %> |
<%= link_to 'Back', add_products_path %>
