<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <link rel="stylesheet" href="./assets/stylesheets/products.scss">
  <div class="field form-group">
    <%= form.text_field :Organization, class: "form-ctrl",
    placeholder: "Organization", :required => true %>
  </div>

  <div class="field form-group">
    <%= form.label :Date %>
    <%= form.date_select :Date, class: "form-ctrl",
    placeholder: "Date", :required => true %>
  </div>

  <div class="field form-group">
    <%= form.text_field :PO_Number, class: "form-ctrl",
    placeholder: "PO_Number" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :Invoice_Number, class: "form-ctrl",
    placeholder: "Invoice_number" %>
  </div>

  <div class="field form-group">
    <%= form.label :Invoice_Date %>
    <%= form.date_select :Invoice_Date, class: "form-ctrl",
    placeholder: "Invoice_Date" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :Product, class: "form-ctrl",
    placeholder: "Product", :required => true%>
  </div>

  <div class="field form-group">
    <%= form.number_field :Quantity, class: "form-ctrl",
    placeholder: "Quantity", :required => true %>
  </div>

  <div class="field form-group">
    <%= form.text_field :Value, class: "form-ctrl",
    placeholder: "Value($)", :required => true %>
  </div>

  <div class="field form-group">
    <%= form.text_field :Weight, class: "form-ctrl",
    placeholder: "Weight (lb)" %>
  </div>

  <div class="field">
    <%= form.number_field :user_id, 
    id: :friend_user_id,
    value: current_user.id, type: :hidden %>
  </div>

  <%#the approved field will be used in future implementation where the user can't access 
     other food pantries' invenotry unless they approve their request%>
  <div class="field">
      <%= form.label :approved, :hidden => true %>
      <%= form.check_box :approved, value: false, :hidden => true%>
  </div>
<div>
  <div class="actions">
    <%= form.submit class: 'btn btn-primary btn-form-control' %>
  </div></div>
<% end %>